//COLORS
$a: slategrey;
$a2: rgb(69, 109, 148);
$b: #149eee;
$b2:#0d5c8a;
$back:  rgb(46, 80, 83);
$surface: white;
$error: #b00020;
//text colors: on primary, on secondary, on back, on surface, on error
