@forward "./consts.scss";
@use "./consts.scss" as *;
.background{
    height: fit-content; 
    min-height: 100%;
    width: fit-content;
    min-width: 100%;  
    background-color: $back;        
    z-index: -1;         
    position: fixed;
    width:100vw;
    height:100vh;
}
.root {
    position: relative;    
    margin: 0px;    
    height: 100%;
    width: 100%;  
    background-color: $back;        
    z-index: -1;         
}
body{
    margin:0;      
    width:100%;
    height:100%;
    touch-action: manipulation;
    overscroll-behavior: none;
    //color:white
}
body::-webkit-scrollbar {
        display: none;
}
       
:not(textarea):not(input):not(svg){       
    -webkit-user-select: none;
    cursor: default;
}
input{
    //color:white;
    //background-color:#0000;
    border:none;     
}
textarea:focus, input:focus{
    outline:none;
}
@mixin gridInput{    
    font-size:20px;
    text-align:center;    
    margin:auto;
    font-weight:bold;
    word-break: break-all;
}